<!DOCTYPE html>
<html>
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#">
  <meta charset="utf-8">
  <title><%= (@title && !@title.empty? ? "#{@title} — Hi, I’m Sam" : "Hi, I’m Sam") %></title>
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/619254/777982/css/fonts.css">
  <link href="/assets/application.css" rel="stylesheet">
  <link rel="me" href="https://www.google.com/profiles/samsoffes">
  <link rel="author" type="text/plain" href="/humans.txt">
  <link rel="alternate" type="application/rss+xml" href="https://soffes.blog/feeds/rss">
  <link rel="alternate" type="application/json" href="https://soffes.blog/feeds/json">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="fb:app_id" content="1159618850721771">
  <meta property="og:site_name" content="soff.es">
  <meta property="copyright" content="&copy; 2006-<%= Time.now.year %> Sam Soffes">
  <% if @post %>
  <meta property="og:url" content="https://soffes.blog/<%= @post['key'] %>">
  <meta property="description" content="<%= @post['excerpt_html'] %>">
  <% if tags = @post['tags'] %>
  <meta property="keywords" content="<%= tags.join(',') %>">
  <% end %>
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= @post['title'] %>">
  <meta property="og:description" content="<%= @post['excerpt_html'] %>">
  <% if @post['cover_image'] %>
  <meta property="og:image" content="<%= @post['cover_image'] %>">
  <meta property="og:image:width" content="<%= @post['cover_image_width'] %>">
  <meta property="og:image:height" content="<%= @post['cover_image_height'] %>">
  <% end %>
  <meta property="article:published_time" content="<%= Time.at(@post['published_at']).utc.iso8601 %>">
  <meta property="article:author" content="https://soff.es/">
  <% if @post['tags']; @post['tags'].each do |tag| %>
  <meta property="article:tag" content="<%= tag %>">
  <% end; end %>
  <meta property="twitter:site" content="@soffes">
  <% if @post['cover_image'] %>
  <meta property="twitter:card" content="summary_large_image">
  <meta name="twitter:image:src" content="<%= @post['cover_image'] %>">
  <% else %>
  <meta property="twitter:card" content="summary">
  <% end %>
  <meta name="twitter:url" content="https://soffes.blog/<%= @post['key'] %>">
  <meta name="twitter:description" content="<%= @post['excerpt_html'] %>">
  <meta name="twitter:title" content="<%= @post['title'] %>">
  <% end %>
</head>
<body>
  <% unless @post && @post['cover_image'] %>
  <header>
    <h1><a href="/" rel="home">Hi, I’m Sam</a></h1>
    <p>This is my blog. Enjoy.</p>
  </header>
  <% end %>
  <main>
  <%= yield %>
  </main>
  <% unless @hide_footer %>
  <footer>
    <p><a href="/feeds/rss">RSS</a> &bull; <a href="/feeds/json">JSON Feed</a></p>
    <p>© 2006-<%= Time.now.year %> <a href="/" rel="home">Sam Soffes</a></p>
  </footer>
  <% end %>
  <script src="/assets/application.js"></script>
  <% if ENV['RACK_ENV'] == 'production' %>
  <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-5609322-18','auto');ga('send','pageview')</script>
  <% end %>
</body>
</html>
